.img-logo {
    width: 80px;
    height: 80px;
}

.title-brand {
    @include font-size($base-h1-brand-font-size);
    @include line-height($base-h1-brand-line-height);
    font-weight: $base-h1-brand-font-weight;
    letter-spacing: 1.5rem;
    padding-left: 1.5rem;
    margin: 0.25em 0 0;
}

.title-sub-brand {
    @include font-size($base-h2-font-size);
    @include line-height($base-h2-line-height);
    color: desaturate($base-slate-color, 20%);
    margin-bottom: 0.5em;
}

.title-contact {
    display: inline-block;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 32px;
    font-size: 2rem;
    color: $base-orange-color;
    border: 4px solid $base-orange-color;
    margin: 0.5em 0;
}

.section-circle {
    margin: 0;
    height: 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-image: radial-gradient(ellipse 80% 80% at bottom, $base-slate-color 60%, $base-magenta-color 70%, $base-orange-color 78%, $base-white-color 88%)
}

.img-circle {
    display: block;
    width: 100%;
    height: 20px;
    pointer-events: none;
}

.section-presta { background-color: $base-slate-color; }

.section-works { background-color: $base-slate-color; }

.u-color-white { color: $base-white-color; }
