.img-logo {
    width: 80px;
    height: 80px;
}

.title-brand {
    @include font-size($base-h1-brand-font-size);
    @include line-height($base-h1-brand-line-height);
    margin: 0.25em 0 0;
    padding-left: 1.25rem;
    letter-spacing: 1.25rem;
    font-weight: $base-h1-brand-font-weight;
}

.title-sub-brand {
    @include font-size($base-h2-font-size);
    @include line-height($base-h2-line-height);
    margin-bottom: 0.5em;
    color: desaturate($base-slate-color, 20%);
    font-weight: 300;
}

.title-contact {
    display: inline-block;
    margin: 1em 0 2em;
    padding: 1rem 2rem;
    border: 3px solid $base-orange-color;
    border-radius: 2rem;
    color: $base-orange-color;
    text-decoration: none;
    font-size: 32px;
    font-size: 2rem;
}

.img-circle {
    display: block;
    width: 100%;
    height: 20px;
    pointer-events: none;
}

.section-gray { background-color: $base-gray-color; }

.section-works { background-color: $base-slate-color; }

.u-color-white { color: $base-white-color; }
