.section-welcome {
    min-height: 100vh;
}

.img-logo {
    margin: 10px;
    width: 80px;
    height: 80px;
}

.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.animated.infinite { animation-iteration-count: infinite; }

@keyframes fadeindown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeindown { animation-name: fadeindown; }

.title-brand {
    @include font-size($base-h1-brand-font-size);
    @include line-height($base-h1-brand-line-height);
    margin: 0.25em 0 0;
    padding-left: 1.25rem;
    letter-spacing: 1.25rem;
    font-weight: $base-h1-brand-font-weight;
}

.title-sub-brand {
    @include font-size($base-h2-font-size);
    @include line-height($base-h2-line-height);
    margin-bottom: 0.5em;
    color: desaturate($base-slate-color, 20%);
    font-weight: 300;
}

.title-contact {
    display: inline-block;
    margin: 1em 0;
    padding: 1rem 2rem;
    border: 3px solid $base-orange-color;
    border-radius: 2rem;
    color: $base-orange-color;
    text-decoration: none;
    font-size: 2rem;
}

.img-circle {
    display: block;
    width: 100%;
    height: 20px;
    pointer-events: none;
}

.list-bullet {
    margin-bottom: 40px;
    padding-left: 0;
    list-style: none;
}

.section-gray { background-color: $base-gray-color; }

.section-white { background-color: $base-white-color; }

.u-color-white { color: $base-white-color; }

.swiss {
    color: $base-white-color;
    font-weight: 700;
    background-color: #ff0000;
    padding: 1px 5px;
}
