.u-color-orange { color: $base-orange-color; }

.u-color-magenta { color: $base-magenta-color; }

.u-color-morenga { color: $base-morenga-color; }

.u-color-light-gray { color: lighten($base-slate-color, 50%); }

.u-valign-m {
    display: inline-block;
    vertical-align: middle;
}

.no-margin { margin: 0; }

.no-padding { padding: 0; }

.pad-10 { padding: 10px; }

.pad-30 { padding: 30px; }

.pad-50 { padding: 50px; }

.mar-10 { margin: 10px; }

.pad-top-20 { padding-top: 20px; }

.pad-top-40 { padding-top: 40px; }

.pad-bottom-40 { padding-bottom: 40px; }

.uppercase { text-transform: uppercase; }

.font-300 { font-weight: 300; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

.block { display: block; }

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0;
        display: inline-block;
    }
}
