.u-color-orange { color: $base-orange-color; }

.u-color-magenta { color: $base-magenta-color; }

.u-color-morenga { color: $base-morenga-color; }

.u-color-light-gray { color: lighten($base-slate-color, 50%); }

.u-valign-m {
    display: inline-block;
    vertical-align: middle;
}
