// ==========================================================================
// Base – Variables
// ==========================================================================

// Mayami code colors

$base-orange-color:                             hsl(17, 100%, 57%); //#FF6426;
$base-magenta-color:                            hsl(344, 70%, 51%); //#D92B5A;
$base-morenga-color:                            mix($base-orange-color, $base-magenta-color); //#EC4840

$base-white-color:                              hsl(0, 100%, 100%);

$base-slate-color:                              hsl(3, 5%, 25%);

// Global Typography
$base-background-color:                         $base-white-color !default;
$base-font-family:                              'Roboto Condensed', sans-serif !default;
$base-font-size:                                18 !default;
$base-line-height:                              24 !default;
$base-font-weight:                              400 !default;
$base-font-color:                               $base-slate-color !default;
$base-link-color:                               $base-morenga-color !default;
$base-link-hover-color:                         $base-morenga-color !default;

// Headings
$base-heading-font-family:                      'Roboto Condensed', sans-serif !default;
$base-h1-font-size:                             36 !default;
$base-h1-line-height:                           42 !default;
$base-h1-font-weight:                           700 !default;
$base-h1-color:                                 $base-font-color !default;
$base-h2-font-size:                             32 !default;
$base-h2-line-height:                           38 !default;
$base-h2-font-weight:                           700 !default;
$base-h2-color:                                 $base-font-color !default;
$base-h3-font-size:                             26 !default;
$base-h3-line-height:                           32 !default;
$base-h3-font-weight:                           700 !default;
$base-h3-color:                                 $base-font-color !default;
$base-h4-font-size:                             22 !default;
$base-h4-line-height:                           28 !default;
$base-h4-font-weight:                           700 !default;
$base-h4-color:                                 $base-font-color !default;
$base-h5-font-size:                             18 !default;
$base-h5-line-height:                           24 !default;
$base-h5-font-weight:                           700 !default;
$base-h5-color:                                 $base-font-color !default;
$base-h6-font-size:                             16 !default;
$base-h6-line-height:                           22 !default;
$base-h6-font-weight:                           700 !default;
$base-h6-color:                                 $base-font-color !default;

$base-h1-brand-font-size:                       48 !default;
$base-h1-brand-line-height:                     54 !default;
$base-h1-brand-font-weight:                     400 !default;

// Blockquotes
// $base-blockquote-font-family:                   sans-serif !default;
// $base-blockquote-font-size:                     22 !default;
// $base-blockquote-line-height:                   28 !default;

// Code
// $base-code-font-family:                         monospace, monospace !default;
// $base-code-font-size:                           13 !default;
// $base-code-line-height:                         18 !default;
// $base-code-color:                               $base-font-color !default;
// $base-code-background-color:                    transparent !default;
// $base-code-border-color:                        #d7d7d7 !default;

// Forms
$base-input-height:                             36px !default;
$base-input-placeholder-color:                  #999 !default;
$base-input-color:                              $base-font-color !default;
$base-input-background-color:                   $base-white-color !default;
$base-input-background-focus-color:             $base-white-color !default;
$base-input-border-color:                       #ccc !default;
$base-input-border-focus-color:                 #f7c723 !default;
$base-select-box-height:                        36px;

// Grid Containers
$container:                                     100% !default;
$container-m:                                   720px !default;
$container-l:                                   960px !default;
$container-xl:                                  1120px !default;

// Grid Gutters
$grid-gutter:                                   15px !default;
$grid-gutter-m:                                 15px !default;
$grid-gutter-l:                                 15px !default;
$grid-gutter-xl:                                15px !default;

// Responsive Breakpoints
$breakpoint-m:                                  ($container-m + 20) !default;
$breakpoint-l:                                  ($container-l + 20) !default;
$breakpoint-xl:                                 ($container-xl + 20) !default;
